html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(black 50%, paleturquoise);
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  text-decoration: none;
  align-content: center;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 7%;
}

.nav-item {
  padding-right: 5px;
}

.nav-link {
  font-size: 1.2rem;
}

#home a {
  padding: .5rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: right;
}

#home .fa-icons {
  font-size: 2rem;
}

nav {
  margin-bottom: 3rem;
}

#home img {
  height: 50px;
  width: 50px;
}

#titleImage img {
  border-radius: 50%;
  height: 425px;
  width: 425px;
  margin-top: 2rem;
  align-content: center;
}

#main h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main p {
  font-size: 1.65rem;
  margin-bottom: 3rem;
  width: 80%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 400px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 80px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #77A1D3 10%, #79CBCA  25%, #77A1D3  100%);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

#about img {
  text-align: center;
  margin: 2rem;
}

#about h3 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

.card {
  border-radius: 25px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 20px;
  cursor: pointer;
  margin-bottom: 30px;
  height: 750px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h5 {
  font-weight: 800;
  text-align: center;
  font-size: 1.65rem;
  margin-bottom: 3rem;
  color: gray;
}

.card p {
  font-weight: 800;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3rem;
  color: gray;
}

#skills h3 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

#skills h5 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

#contacts h3 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

#contacts h5 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

#contacts .form-group {
    width: 100%;
    opacity: 50%;
    font-size: 1.5rem;
}

#contacts label {
  font-size: 1.5rem;
  font-weight: bold;
}

#contacts i {
  font-size: 1.5rem;
  font-weight: bold;
}

#contacts p {
  font-size: 1.2rem;
  text-align: center;
}

#contacts .buttons {
    margin: 10%;
    text-align: center;
    align-content: center;
}

#contacts .btn-hover {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 60px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#footer a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;}

#footer .nav-item {
  padding: .5rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

#footer .fa-icons {
  font-size: 2rem;
}

h2 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h6 {
  background: -webkit-linear-gradient(left, white, gray);
  background: -o-linear-gradient(right, white, gray);
  background: -moz-linear-gradient(right, white, gray);
  background: linear-gradient(to right, white, gray); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}